#wrapper #primary #left #content table{border: 1px solid #DCDDDE;border-collapse: collapse;}
#wrapper #primary #left #content table tr#first{height:30px;background: #DCDDDE;}
#wrapper #primary #left #content table tr{height:24px;}
#wrapper #primary #left #content table tr:hover{background-color:#eeecec;}
#wrapper #primary #left #content table tr.lopday{background-color:#fcdddb;}
#wrapper #primary #left #content table tr.lopmo{background-color:#cbfbe0;}
#wrapper #primary #left #content table td,
#wrapper #primary #left #content table th{border-top:1px dashed #DCDDDE;border-right:1px solid #DCDDDE;text-align:center;}
#wrapper #primary #left #content table td:nth-child(3){text-align:left;}
#wrapper #primary #left #content table tr td:last-child p{text-decoration: underline;}/*3761FF*/
#wrapper #primary #left #content table tr td:last-child p:hover{cursor: pointer;color: blue;}
#wrapper #primary #left #content table th#hk{width:60px;}
#wrapper #primary #left #content table th#mamh{width:100px;}
#wrapper #primary #left #content table th#tenmh{width:260px;}
#wrapper #primary #left #content table th#sotc{width:60px;}
#wrapper #primary #left #content table th#tclt{width:60px;}
#wrapper #primary #left #content table th#tcth{width:60px;}
#wrapper #primary #left #content table th#diem{width:60px;}
#wrapper #primary #left #content table th#tinhtrang{width:80px;}
#wrapper #primary #left #content table th#thaotac{width:140px;}
#wrapper #primary #left #content input#dangky{background: url(../../images/index/blue_bg.jpg) repeat-x;
                                                  height:30px;
                                                  padding:5px 20px;
                                                  display:block;
                                                -webkit-border-radius: 5px;
                                                -moz-border-radius: 5px;
                                                -o-border-radius: 5px;
                                                border-radius: 5px;                      
                                                -webkit-box-shadow: 2px 2px  6px #646564;
                                                -moz-box-shadow: 2px 2px 6px #646564;
                                                line-height:20px;
                                                text-align:center;
                                                border:1px dashed #ebebeb;
                                                margin:10px 0px 0px 790px;
                                                width:100px;                                                
                                                font-size:14px;
                                                }

#wrapper #primary #left #content input#dangky:hover{font-weight:bold;cursor:pointer;color:#fff;}

div.popupdetail{   opacity: 1;
                top: 50%;
                left: 50%;
                margin-left: -445px;
                margin-top: -250px;
                width: 890px;
                height: 500px;
                background-color: white;
                position: fixed;
                z-index: 50;
                box-shadow: 0px 0px 10px #ccc;
				display:none;}
div.popupdetail div.class{background-color: #29abfe;color: white;line-height: 50px;height: 50px;font-size: 22px;text-align: center;font-weight: bold;}
div.popupdetail p{line-height: 40px;font-size: 22px;font-weight: bold;padding-left: 20px;}
div.popupdetail table{margin-left: 20px;width: 810px;text-align: center;}
div.popupdetail table tr{height: 30px;}
div.popupdetail table tr.full{background-color: #FF120A;opacity: .9;}
div.popupdetail table tr td, th{border: 1px solid #DCDDDF;}
div.popupdetail table tr.full td{border-left: none;border-right: none;}
div.popupdetail table tr td:last-child{width: 40px;border: none;background-color: white;}
div.popupdetail table tr td:last-child input[type="checkbox"]{cursor: pointer;}
div.popupdetail div.select{position: absolute;top: 440px;left: 790px;background: url(../../images/index/btnaccept.png) no-repeat;height: 59px;width: 58px;z-index:10;}
div.popupdetail div.select:hover{background: url(../../images/index/btnaccept_hover.png) no-repeat;cursor: pointer;}
div.popupdetail div.note{position: absolute;background-color: #29abfe;top: 440px;height: 60px;width: 100%;}
div.popupdetail div.note p{font-size: 14px;line-height: 30px;}

