*{padding: 0px;margin: 0px;}

#wrapper #primary #left #content table{border: 1px solid #DCDDDE;border-collapse: collapse;}
#wrapper #primary #left #content table tr#first{height:30px;background: #DCDDDE;}
#wrapper #primary #left #content table tr{height:24px;}
#wrapper #primary #left #content table th{text-align:center;font-size:18px;line-height:40px;}
#wrapper #primary #left #content table td{border-top:1px solid #DCDDDE;border-right:1px solid #DCDDDE;text-align:center;}
#wrapper #primary #left #content table tr td.ca{width: 40px;}
#wrapper #primary #left #content table td.lop{width:160px;height:200px;overflow:hidden;}
#wrapper #primary #left #content table td.lop:hover{background-color: #eef;opacity: 0.9;}
#wrapper #primary #left #content table td.lop p{border-bottom: 1px dashed #DCDDDE;}
#wrapper #primary #left #content table td.lop p:last-child{border-bottom: none;}
#wrapper #primary #left #content table td.lop p.thuchanh{color: #29abcc;}


button
{
    border:none;
    right: 30px;
    position: fixed;
    height: 50px;
    width: 133px;
    font: 18px "Times New Roman";
}

#btnTaiFile
{
    top: 420px;
    background: url(../../images/index/btnBlue.png);
}

#btnTaiFile:hover
{
    background: url(../../images/index/btnBlue_hover.png);
    cursor: pointer;
}

#btnInTKB
{
    top: 510px;
    background: url(../../images/index/btnGrey.png);
}

#btnInTKB:hover
{
    background: url(../../images/index/btnGrey_hover.png) no-repeat;
    cursor: pointer;
}