*{padding:0px;margin:0px;}
.overflow{position:fixed;top:0px;left:0px;width:100%;height:100%;display:none;background:#111; opacity: 0.6;z-index:130;}
.popup_detail{width:800px;background:#fff;display:none;z-index:130;position:fixed;left:300px;top:150px;box-shadow:0px 0px 10px #fff;}
.popup_detail #pheader{height:30px;background-color:#4db9fe;position:relative;}
.popup_detail #pheader p#ptitle{color:#fff;font-size:18px;margin:0px 20px;line-height:30px;}
.popup_detail #pheader img{position:absolute;top:-2px;right:-2px;opacity:0.4;}
.popup_detail #pheader img#pclose{top:-2px;right:-2px;}
.popup_detail #pheader img#pnext{top:200px;right:0px;}
.popup_detail #pheader img#pprev{top:200px;left:0px;}
.popup_detail #pheader img:hover{opacity:1;cursor:pointer;} 

.popup_detail #pdata{height:384px;background-color:#fff;overflow-y:auto;}
.popup_detail #pdata table{border-collapse:collapse;}
.popup_detail #pdata table td{border-bottom:1px dashed #e8e9e8;font-size:22px;padding:5px 10px}
.popup_detail #pdata table tr{height:32px;}
.popup_detail #pdata img#waiting{margin:100px 0px 0px 200px;}
.popup_detail #pfooter{height:36px;background-color:#4db9fe;}
.popup_detail #pfooter img{float:right;width:34px;height:34px;margin:1px 10px;opacity:0.8;}
.popup_detail #pfooter img:hover{cursor:pointer;opacity:1;}

.popup_detail#view {width:500px;top:100px;left:440px;}
.popup_detail#view img#save{display:none;}
.popup_detail #pdata table#text{margin:15px 0px 0px 60px;}
.popup_detail #pdata table#edit{margin:10px 0px 0px 50px;display:none;}
.popup_detail #pdata table#edit tr{height:24px;}
.popup_detail #pdata table#edit input,
.popup_detail #pdata table#edit textarea,
.popup_detail #pdata table#edit select{font-size:16px;}